/venv/
/.idea/
/lego_sorter_server/analysis/detection/models/yolo_model/
/lego_sorter_server/analysis/classification/models/tf_model/
/lego_sorter_server/analysis/classification/models/keras_model/

*__pycache__
*checkpoints*
lego_sorter_server/images/storage/stored
*saved_model.pb*
lego_sorter_server/classifier/models/saved

scripts/**/*.png
scripts/**/*.txt